<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- REQUIRED for the "Interruption" overlay to wake screen -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- HEALTH CONNECT PERMISSIONS -->
    <uses-permission android:name="android.permission.health.WRITE_HYDRATION" />
    <uses-permission android:name="android.permission.health.WRITE_NUTRITION" />


    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VITALITY.SYS"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <!-- HEALTH CONNECT PRIVACY RATIONALE -->
        <activity
            android:name=".PrivacyRationaleActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.NoActionBar">

            <!-- Android 13 and lower -->
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>

            <!-- Android 14+ STRICT REQUIREMENT -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".VitalityListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <!-- This tells Android to ONLY wake the app up for this specific path -->
                <data android:scheme="wear" android:host="*" android:pathPrefix="/sys/alert_phone" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NotificationReplyReceiver"
            android:exported="false" />

    </application>
</manifest>